.fp-canvas-area {
    display: block;
    background-color: red;
    padding: 0;
    margin: 0;
    height: 100%;
}

.border {
    border: 1px solid black !important;
}

.fp-canvas-area img {
}

.fp-canvas-container {
    height: 100%;
}